@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2.5s;
  }
  .animation-delay-4000 {
    animation-delay: 5s;
  }
}

@layer components {
  .sidebar_icon {
    @apply h-[40px] md:min-h-[48px] w-[40px] md:min-w-[48px] text-black bg-gray-100 rounded-full p-2;
  }
  body {
    @apply overflow-x-hidden bg-bgmain text-text;
  }
}


.bg-gradient-radial {
  background: rgb(248, 93, 73);
  background: radial-gradient(
    circle,
    rgba(248, 93, 73, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.green-gradient {
  background: linear-gradient(45deg, #4ae491, #49aa75);
}

.hidescrollbar::-webkit-scrollbar {
  display: none;
}

.react-multi-carousel-item {
  margin: 0px 10px;
}

.hidescrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fa8072;
}

html {
  scroll-behavior: smooth;
}
